# MLDS Predict Financial Strength Of Countries

## Features of the dataset:

**Country Name:** Name of the country

**Country Code:** Code assigned of the country

**Year**

**Balance:** International balance with the world bank for the country. *(To be predicted)*

**Inflation:** Inflation in percentage for that particular year

**GDP:** GDP growth for that particular year

**Exports:** Exports of the country for that particular year

**Trade:** Trade figures for the country for that particular year

In [56]:
version

               _
platform       x86_64-w64-mingw32
arch           x86_64
os             mingw32
system         x86_64, mingw32
status
major          3
minor          5.3
year           2019
month          03
day            11
svn rev        76217
language       R
version.string R version 3.5.3 (2019-03-11)
nickname       Great Truth

In [57]:
# Install necessary packages

install.packages('ggplot2')
install.packages('dplyr')

Installing package into 'C:/Users/ksp/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'ggplot2' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\ksp\AppData\Local\Temp\RtmpGAfBz1\downloaded_packages

Installing package into 'C:/Users/ksp/Documents/R/win-library/3.5'
(as 'lib' is unspecified)

package 'dplyr' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'dplyr'"

The downloaded binary packages are in
	C:\Users\ksp\AppData\Local\Temp\RtmpGAfBz1\downloaded_packages

In [58]:
# Read datasets

train <- read.csv('https://www.dropbox.com/s/ghnw3fbf2pfmfxn/final_train_data.csv?raw=1', header = T)

test <- read.csv('https://www.dropbox.com/s/e8my78li4fs9kd6/final_test_data.csv?raw=1', header = T)

In [59]:
head(train)

  id Country.Name Country.Code Year Balance     Inflation GDP       Exports
1 0  Senegal      SEN          1983  -304382939  9.274213 -5.326393   618000000
2 1  Togo         TGO          2009  -176669246  1.855275  3.510297   903026000
3 2  Pakistan     PAK          1992 -1876092233 10.057085  7.705898  7351000000
4 3  Nepal        NPL          1988  -271450571 11.815310  7.696809   190000000
5 5  Malta        MLT          2016   726913236  1.604548  5.516617  3017298710
6 6  Israel       ISR          2006  6883600000  1.992213  5.210821 46789400000
  Trade
1 59.22430
2 76.24254
3 34.48944
4 24.97842
5 83.78147
6 63.08043

In [60]:
# Examine structure of the dataset

str(train)

'data.frame':	4506 obs. of  9 variables:
 $ id          : int  0 1 2 3 5 6 7 9 10 11 ...
 $ Country.Name: Factor w/ 150 levels "Albania","Algeria",..: 116 136 103 96 87 64 96 5 18 135 ...
 $ Country.Code: Factor w/ 150 levels "ABW","AGO","ALB",..: 120 132 108 106 93 65 106 4 20 133 ...
 $ Year        : int  1983 2009 1992 1988 2016 2006 1990 2008 2013 2011 ...
 $ Balance     : num  -3.04e+08 -1.77e+08 -1.88e+09 -2.71e+08 7.27e+08 ...
 $ Inflation   : num  9.27 1.86 10.06 11.82 1.6 ...
 $ GDP         : num  -5.33 3.51 7.71 7.7 5.52 ...
 $ Exports     : num  6.18e+08 9.03e+08 7.35e+09 1.90e+08 3.02e+09 ...
 $ Trade       : num  59.2 76.2 34.5 25 83.8 ...

In [61]:
summary(train)

       id                   Country.Name   Country.Code       Year
 Min.   :   0   Israel            :  47   ISR    :  47   Min.   :1960
 1st Qu.:1430   South Africa      :  45   ZAF    :  45   1st Qu.:1986
 Median :2834   Canada            :  43   CAN    :  43   Median :1997
 Mean   :2844   Dominican Republic:  39   DOM    :  39   Mean   :1996
 3rd Qu.:4255   Malaysia          :  39   MYS    :  39   3rd Qu.:2007
 Max.   :5703   Saudi Arabia      :  39   SAU    :  39   Max.   :2016
                (Other)           :4254   (Other):4254
    Balance             Inflation              GDP             Exports
 Min.   :-8.060e+11   Min.   :  -29.691   Min.   :-62.076   Min.   :2.000e+06
 1st Qu.:-9.812e+08   1st Qu.:    2.400   1st Qu.:  1.481   1st Qu.:4.804e+08
 Median :-1.603e+08   Median :    6.184   Median :  3.800   Median :2.930e+09
 Mean   :-5.132e+08   Mean   :   31.613   Mean   :  3.641   Mean   :4.340e+10
 3rd Qu.: 2.885e+07   3rd Qu.:   12.410   3rd Qu.:  6.050   3rd Qu.:2.045e+10
 Max.   : 4.210e+11   Max.   :13611.635   Max.   : 34.500   Max.   :2.340e+12
                      NA's   :245         NA's   :244       NA's   :16
     Trade
 Min.   :  7.921
 1st Qu.: 38.096
 Median : 52.437
 Mean   : 62.889
 3rd Qu.: 76.746
 Max.   :957.784
 NA's   :202

Looks like, there are missing values in train. Let's count them.

In [62]:
# Check for missing values in train

na_count <- sapply(train, function(y) sum(length(which(is.na(y)))))
na_count <- data.frame(na_count)
na_count

             na_count
id             0
Country.Name   0
Country.Code   0
Year           0
Balance        0
Inflation    245
GDP          244
Exports       16
Trade        202

**Inflation, GDP, Exports & Trade columns have missing values**

In [63]:
# Find rows with Balance 0

train[train$Balance==0, c(2,4,5,6,7,8,9)]

     Country.Name Year Balance Inflation GDP       Exports   Trade
67   Maldives     1977 0             NA         NA   3390000        NA
2387 Israel       1962 0       8.901592  10.156117 279200000  36.42629
2519 Lesotho      1979 0       2.428386   2.893919  45083100 128.42485
3329 Israel       1964 0       5.433481   7.937192 372400000  35.58242

In [64]:
# First few missing rows

head(train[rowSums(is.na(train))>0,])

   id  Country.Name Country.Code Year Balance     Inflation GDP Exports
42  56 Libya        LBY          1977  2159087462 NA        NA  11410900000
46  62 Libya        LBY          1992  1407193323 NA        NA   9942000000
50  66 Maldives     MDV          1988     9042358 NA        NA     40000000
67  91 Maldives     MDV          1977           0 NA        NA      3390000
76 102 Maldives     MDV          1984   -16300000 NA        NA     18000000
79 105 Poland       POL          1978 -2545000000 NA        NA  12238000000
   Trade
42       NA
46 44.58790
50 77.10078
67       NA
76 64.83808
79       NA

In [65]:
# Percentage of missing value rows in train

round(nrow(train[rowSums(is.na(train))>0,])/nrow(train)*100,2)

[1] 6.41

In [66]:
# Subset numerical values in train data
train_num <- subset(train, select = c(1,4,5,6,7,8,9))

# Compute missing value% by column
Pmiss <- function(x) {round(sum(is.na(x))/length(x)*100,2)}

# Missing value % by column and transpose it
t(apply(train_num, 2, Pmiss))

     id Year Balance Inflation GDP  Exports Trade
[1,] 0  0    0       5.44      5.42 0.36    4.48

- Checked original dataset on GDP from this link https://data.worldbank.org/indicator/NY.GDP.MKTP.CD
- These values were not recorded for those years that were missing in our dataset
- As values were not recorded, it doesn't make sense imputing them. So, replacing NA with 0

In [67]:
train_noNA <- na.omit(train)

# Check missing values now
na_count <- sapply(train_noNA, function(y) sum(length(which(is.na(y)))))
na_count <- data.frame(na_count)
na_count

             na_count
id           0
Country.Name 0
Country.Code 0
Year         0
Balance      0
Inflation    0
GDP          0
Exports      0
Trade        0

**Considered data from the year 1990 onwards**

In [68]:
min(train_noNA$Year)
max(train_noNA$Year)

[1] 1961

[1] 2016

In [69]:
train_from1990 <- train_noNA[train_noNA$Year>=1990,2:9]

nrow(train_from1990)

[1] 2971

In [70]:
# Separate datasets by Year

mycols = c('Country.Name', 'Country.Code', 'Balance', 'Inflation', 'GDP', 'Exports', 'Trade')

train_1990 <- train_from1990[train_from1990$Year==1990, mycols]
train_1991 <- train_from1990[train_from1990$Year==1991, mycols]
train_1992 <- train_from1990[train_from1990$Year==1992, mycols]
train_1993 <- train_from1990[train_from1990$Year==1993, mycols]
train_1994 <- train_from1990[train_from1990$Year==1994, mycols]
train_1995 <- train_from1990[train_from1990$Year==1995, mycols]
train_1996 <- train_from1990[train_from1990$Year==1996, mycols]
train_1997 <- train_from1990[train_from1990$Year==1997, mycols]
train_1998 <- train_from1990[train_from1990$Year==1998, mycols]
train_1999 <- train_from1990[train_from1990$Year==1999, mycols]
train_2000 <- train_from1990[train_from1990$Year==2000, mycols]
train_2001 <- train_from1990[train_from1990$Year==2001, mycols]
train_2002 <- train_from1990[train_from1990$Year==2002, mycols]
train_2003 <- train_from1990[train_from1990$Year==2003, mycols]
train_2004 <- train_from1990[train_from1990$Year==2004, mycols]
train_2005 <- train_from1990[train_from1990$Year==2005, mycols]
train_2006 <- train_from1990[train_from1990$Year==2006, mycols]
train_2007 <- train_from1990[train_from1990$Year==2007, mycols]
train_2008 <- train_from1990[train_from1990$Year==2008, mycols]
train_2009 <- train_from1990[train_from1990$Year==2009, mycols]
train_2010 <- train_from1990[train_from1990$Year==2010, mycols]
train_2011 <- train_from1990[train_from1990$Year==2011, mycols]
train_2012 <- train_from1990[train_from1990$Year==2012, mycols]
train_2013 <- train_from1990[train_from1990$Year==2013, mycols]
train_2014 <- train_from1990[train_from1990$Year==2014, mycols]
train_2015 <- train_from1990[train_from1990$Year==2015, mycols]
train_2016 <- train_from1990[train_from1990$Year==2016, mycols]

In [71]:
# Rename columns
colnames(train_1990) <- c('CountryName','CountryCode','Balance_1990','Inflation_1990','GDP_1990','Exports_1990','Trade_1990')
colnames(train_1991) <- c('CountryName','CountryCode','Balance_1991','Inflation_1991','GDP_1991','Exports_1991','Trade_1991')
colnames(train_1992) <- c('CountryName','CountryCode','Balance_1992','Inflation_1992','GDP_1992','Exports_1992','Trade_1992')
colnames(train_1993) <- c('CountryName','CountryCode','Balance_1993','Inflation_1993','GDP_1993','Exports_1993','Trade_1993')
colnames(train_1994) <- c('CountryName','CountryCode','Balance_1994','Inflation_1994','GDP_1994','Exports_1994','Trade_1994')
colnames(train_1995) <- c('CountryName','CountryCode','Balance_1995','Inflation_1995','GDP_1995','Exports_1995','Trade_1995')
colnames(train_1996) <- c('CountryName','CountryCode','Balance_1996','Inflation_1996','GDP_1996','Exports_1996','Trade_1996')
colnames(train_1997) <- c('CountryName','CountryCode','Balance_1997','Inflation_1997','GDP_1997','Exports_1997','Trade_1997')
colnames(train_1998) <- c('CountryName','CountryCode','Balance_1998','Inflation_1998','GDP_1998','Exports_1998','Trade_1998')
colnames(train_1999) <- c('CountryName','CountryCode','Balance_1999','Inflation_1999','GDP_1999','Exports_1999','Trade_1999')
colnames(train_2000) <- c('CountryName','CountryCode','Balance_2000','Inflation_2000','GDP_2000','Exports_2000','Trade_2000')
colnames(train_2001) <- c('CountryName','CountryCode','Balance_2001','Inflation_2001','GDP_2001','Exports_2001','Trade_2001')
colnames(train_2002) <- c('CountryName','CountryCode','Balance_2002','Inflation_2002','GDP_2002','Exports_2002','Trade_2002')
colnames(train_2003) <- c('CountryName','CountryCode','Balance_2003','Inflation_2003','GDP_2003','Exports_2003','Trade_2003')
colnames(train_2004) <- c('CountryName','CountryCode','Balance_2004','Inflation_2004','GDP_2004','Exports_2004','Trade_2004')
colnames(train_2005) <- c('CountryName','CountryCode','Balance_2005','Inflation_2005','GDP_2005','Exports_2005','Trade_2005')
colnames(train_2006) <- c('CountryName','CountryCode','Balance_2006','Inflation_2006','GDP_2006','Exports_2006','Trade_2006')
colnames(train_2007) <- c('CountryName','CountryCode','Balance_2007','Inflation_2007','GDP_2007','Exports_2007','Trade_2007')
colnames(train_2008) <- c('CountryName','CountryCode','Balance_2008','Inflation_2008','GDP_2008','Exports_2008','Trade_2008')
colnames(train_2009) <- c('CountryName','CountryCode','Balance_2009','Inflation_2009','GDP_2009','Exports_2009','Trade_2009')
colnames(train_2010) <- c('CountryName','CountryCode','Balance_2010','Inflation_2010','GDP_2010','Exports_2010','Trade_2010')
colnames(train_2011) <- c('CountryName','CountryCode','Balance_2011','Inflation_2011','GDP_2011','Exports_2011','Trade_2011')
colnames(train_2012) <- c('CountryName','CountryCode','Balance_2012','Inflation_2012','GDP_2012','Exports_2012','Trade_2012')
colnames(train_2013) <- c('CountryName','CountryCode','Balance_2013','Inflation_2013','GDP_2013','Exports_2013','Trade_2013')
colnames(train_2014) <- c('CountryName','CountryCode','Balance_2014','Inflation_2014','GDP_2014','Exports_2014','Trade_2014')
colnames(train_2015) <- c('CountryName','CountryCode','Balance_2015','Inflation_2015','GDP_2015','Exports_2015','Trade_2015')
colnames(train_2016) <- c('CountryName','CountryCode','Balance_2016','Inflation_2016','GDP_2016','Exports_2016','Trade_2016')

In [72]:
nrow(train_2016)
head(train_2016)

[1] 102

    CountryName CountryCode Balance_2016 Inflation_2016 GDP_2016  Exports_2016
5   Malta       MLT            726913236  1.60454816    5.5166172 3.017299e+09
48  Germany     DEU         287000000000  1.32921070    1.9436254 1.340000e+12
88  Japan       JPN         187000000000  0.27355774    0.9381939 6.450000e+11
116 Paraguay    PRY            414532813  5.27924056    4.0195550 8.493659e+09
141 Haiti       HTI            -72459348 12.70684553    1.4399078 9.948500e+08
151 Denmark     DNK          22459550689 -0.04644416    1.9640771 9.534593e+10
    Trade_2016
5   83.78147
48  68.81783
88  25.30679
116 66.53359
141 55.06667
151 58.93944

In [73]:
# Unique Countries
length(unique(train_from1990$Country.Code))

[1] 150

In [74]:
CompleteTrain <- unique(train_from1990[,c('Country.Name','Country.Code')])
nrow(CompleteTrain)
head(CompleteTrain)

[1] 150

  Country.Name Country.Code
2 Togo         TGO
3 Pakistan     PAK
5 Malta        MLT
6 Israel       ISR
7 Nepal        NPL
8 Argentina    ARG

In [75]:
typeof(CompleteTrain)
class(CompleteTrain)

[1] "list"

[1] "data.frame"

In [76]:
colnames(CompleteTrain) <- c('CountryName', 'CountryCode')
head(CompleteTrain)

  CountryName CountryCode
2 Togo        TGO
3 Pakistan    PAK
5 Malta       MLT
6 Israel      ISR
7 Nepal       NPL
8 Argentina   ARG

In [77]:
# Merge datasets

final <- Reduce(function(x,y) merge(x, y, by = c('CountryCode', 'CountryName'), all.x=TRUE), 
               list(CompleteTrain, train_1990, train_1991, train_1992, train_1993, train_1994, train_1995, train_1996,
               train_1997, train_1998, train_1999, train_2000, train_2001, train_2002, train_2003,
               train_2004, train_2005, train_2006, train_2007, train_2008, train_2009, train_2010,
               train_2011, train_2012, train_2013, train_2014, train_2015, train_2016))

In [78]:
class(final)

[1] "data.frame"

In [79]:
str(final)

'data.frame':	150 obs. of  137 variables:
 $ CountryCode   : Factor w/ 150 levels "ABW","AGO","ALB",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ CountryName   : Factor w/ 150 levels "Albania","Algeria",..: 7 3 1 5 6 4 8 9 21 16 ...
 $ Balance_1990  : num  NA -2.36e+08 -1.18e+08 4.55e+09 NA ...
 $ Inflation_1990: num  NA 0.301 -0.469 2076.793 NA ...
 $ GDP_1990      : num  NA -0.3 -9.58 -2.4 NA ...
 $ Exports_1990  : num  NA 3.91e+09 2.30e+08 1.24e+10 NA ...
 $ Trade_1990    : num  NA 54.7 29 11.6 NA ...
 $ Balance_1991  : num  NA -5.80e+08 NA -6.47e+08 NA ...
 $ Inflation_1991: num  NA 170 NA 133 NA ...
 $ GDP_1991      : num  NA -1.2 NA 12.7 NA ...
 $ Exports_1991  : num  NA 3.41e+09 NA 1.20e+10 NA ...
 $ Trade_1991    : num  NA 39.3 NA 10.7 NA ...
 $ Balance_1992  : num  NA -7.35e+08 NA -5.55e+09 NA ...
 $ Inflation_1992: num  NA 249.1 NA 11.9 NA ...
 $ GDP_1992      : num  NA -6.9 NA 11.9 NA ...
 $ Exports_1992  : num  NA 3.76e+09 NA 1.22e+10 NA ...
 $ Trade_1992    : num  NA 101 NA 11.8 NA ...
 $ Balance_1993  : num  NA -6.68e+08 NA -8.21e+09 NA ...
 $ Inflation_1993: num  NA 1273.99 NA -1.47 NA ...
 $ GDP_1993      : num  NA -24.7 NA 5.91 NA ...
 $ Exports_1993  : num  NA 3.76e+09 NA 1.31e+10 NA ...
 $ Trade_1993    : num  NA 99 NA 12.6 NA ...
 $ Balance_1994  : num  NA -3.4e+08 NA -1.1e+10 NA ...
 $ Inflation_1994: num  NA 2127.61 NA 2.85 NA ...
 $ GDP_1994      : num  NA 3.5 NA 5.84 NA ...
 $ Exports_1994  : num  NA 3.02e+09 NA 1.57e+10 NA ...
 $ Trade_1994    : num  NA 110.2 NA 14.4 NA ...
 $ Balance_1995  : num  -2.79e+05 -2.95e+08 -1.15e+07 -5.12e+09 -2.21e+08 ...
 $ Inflation_1995: num  -1.93 1895.32 5.57 3.17 161.16 ...
 $ GDP_1995      : num  1.25 10.4 13.3 -2.85 6.9 ...
 $ Exports_1995  : num  1.35e+09 3.64e+09 2.02e+08 2.10e+10 2.71e+08 ...
 $ Trade_1995    : num  222.9 101.4 37.8 15.9 64.4 ...
 $ Balance_1996  : num  -6.91e+07 3.27e+09 NA -6.77e+09 NA ...
 $ Inflation_1996: num  -3.0891 5399.5069 NA -0.0524 NA ...
 $ GDP_1996      : num  7.81 11.2 NA 5.53 NA ...
 $ Exports_1996  : num  1.73e+09 5.10e+09 NA 2.38e+10 NA ...
 $ Trade_1996    : num  273.1 94.8 NA 17.5 NA ...
 $ Balance_1997  : num  -1.96e+08 -8.84e+08 -2.72e+08 NA -3.36e+08 ...
 $ Inflation_1997: num  4.07 94.32 12.09 NA 17.74 ...
 $ GDP_1997      : num  6.67 7.9 -10.84 NA 3.32 ...
 $ Exports_1997  : num  1.72e+09 5.01e+09 1.39e+08 NA 2.33e+08 ...
 $ Trade_1997    : num  250.7 99.4 33.3 NA 68.6 ...
 $ Balance_1998  : num  -1.88e+07 NA NA NA -4.16e+08 ...
 $ Inflation_1998: num  7.48 NA NA NA 10.7 ...
 $ GDP_1998      : num  1.15 NA NA NA 7.3 ...
 $ Exports_1998  : num  1.16e+09 NA NA NA 2.21e+08 ...
 $ Trade_1998    : num  161.1 NA NA NA 59.3 ...
 $ Balance_1999  : num  -4.36e+08 -1.71e+09 -1.55e+08 -1.19e+10 -3.13e+08 ...
 $ Inflation_1999: num  -1.0192 556.9393 1.5333 -1.8366 0.0538 ...
 $ GDP_1999      : num  4.51 3.24 13.5 -3.39 3.3 ...
 $ Exports_1999  : num  1.39e+09 5.16e+09 3.51e+08 2.33e+10 2.32e+08 ...
 $ Trade_1999    : num  196.4 134.3 44.1 17.2 55.9 ...
 $ Balance_2000  : num  2.07e+08 NA -1.56e+08 -8.98e+09 -3.02e+08 ...
 $ Inflation_2000: num  9.14 NA 3.98 1.04 -1.37 ...
 $ GDP_2000      : num  -0.365 NA 6.667 -0.789 5.9 ...
 $ Exports_2000  : num  2.52e+09 NA 2.58e+08 2.63e+10 2.94e+08 ...
 $ Trade_2000    : num  272.5 NA 37.1 18.1 61.5 ...
 $ Balance_2001  : num  3.09e+08 -1.43e+09 -2.17e+08 -3.78e+09 -2.21e+08 ...
 $ Inflation_2001: num  4.77 106.32 3.33 -1.1 4.07 ...
 $ GDP_2001      : num  -2.16 4.22 7.94 -4.41 9.56 ...
 $ Exports_2001  : num  2.42e+09 6.53e+09 3.07e+08 2.65e+10 3.43e+08 ...
 $ Trade_2001    : num  249.7 108.7 40.2 17.4 57.4 ...
 $ Balance_2002  : num  NA NA -4.08e+08 8.77e+09 -1.48e+08 ...
 $ Inflation_2002: num  NA NA 2.41 30.56 2.37 ...
 $ GDP_2002      : num  NA NA 4.23 -10.89 13.19 ...
 $ Exports_2002  : num  NA NA 3.40e+08 2.56e+10 5.05e+08 ...
 $ Trade_2002    : num  NA NA 41.6 35.4 62.8 ...
 $ Balance_2003  : num  NA -7.20e+08 NA 8.14e+09 -1.74e+08 ...
 $ Inflation_2003: num  NA 84.89 NA 10.5 4.56 ...
 $ GDP_2003      : num  NA 5.25 NA 8.84 14.04 ...
 $ Exports_2003  : num  NA 9.51e+09 NA 2.96e+10 6.86e+08 ...
 $ Trade_2003    : num  NA 106 NA 34 70 ...
 $ Balance_2004  : num  2.71e+08 6.81e+08 NA 3.21e+09 -7.88e+07 ...
 $ Inflation_2004: num  8.96 39.79 NA 18.36 6.31 ...
 $ GDP_2004      : num  1.18 10.88 NA 9.03 10.47 ...
 $ Exports_2004  : num  3.43e+09 1.35e+10 NA 3.46e+10 7.23e+08 ...
 $ Trade_2004    : num  315.2 98.3 NA 34.6 58 ...
 $ Balance_2005  : num  1.05e+08 5.14e+09 NA 5.27e+09 -1.24e+08 ...
 $ Inflation_2005: num  4.21 26.82 NA 10.32 3.24 ...
 $ GDP_2005      : num  0.38 18.26 NA 8.85 13.87 ...
 $ Exports_2005  : num  4.42e+09 2.41e+10 NA 4.04e+10 9.74e+08 ...
 $ Trade_2005    : num  373.4 115 NA 34.7 56.6 ...
 $ Balance_2006  : num  3.11e+08 1.07e+10 -6.71e+08 6.50e+09 -1.53e+08 ...
 $ Inflation_2006: num  1.49 13.04 2.7 13.74 4.62 ...
 $ GDP_2006      : num  2.36 20.74 5.43 8.05 13.2 ...
 $ Exports_2006  : num  4.72e+09 3.19e+10 7.98e+08 4.65e+10 9.85e+08 ...
 $ Trade_2006    : num  389.8 97.2 42.9 34.7 49.8 ...
 $ Balance_2007  : num  2.58e+08 1.06e+10 NA 6.05e+09 -6.77e+08 ...
 $ Inflation_2007: num  12.46 12.62 NA 14.94 4.23 ...
 $ GDP_2007      : num  -3.65 22.59 NA 9.01 13.75 ...
 $ Exports_2007  : num  5.21e+09 4.44e+10 NA 5.58e+10 1.15e+09 ...
 $ Trade_2007    : num  393.8 96 NA 34.9 48 ...
 $ Balance_2008  : num  1.12e+05 7.19e+09 -2.02e+09 5.42e+09 NA ...
 $ Inflation_2008: num  14.28 19.68 7.63 23.17 NA ...
 $ GDP_2008      : num  -6.88 13.82 3.76 4.06 NA ...
 $ Exports_2008  : num  5.46e+09 6.39e+10 1.35e+09 7.00e+10 NA ...
 $ Trade_2008    : num  410.7 100.9 51.3 35.3 NA ...
 $ Balance_2009  : num  NA NA -1.85e+09 7.25e+09 -1.43e+09 ...
 $ Inflation_2009: num  NA NA 2.42 15.38 2.56 ...
  [list output truncated]

In [80]:
head(final)

  CountryCode CountryName         Balance_1990 Inflation_1990 GDP_1990
1 ABW         Aruba                       NA             NA          NA
2 AGO         Angola              -235500000      0.3009027   -0.300000
3 ALB         Albania             -118300000     -0.4687074   -9.575640
4 ARG         Argentina           4552000000   2076.7934730   -2.398959
5 ARM         Armenia                     NA             NA          NA
6 ATG         Antigua and Barbuda  -30985185      1.6502636    3.011646
  Exports_1990 Trade_1990 Balance_1991 Inflation_1991 GDP_1991  ...
1         NA         NA           NA           NA            NA ...
2 3.9100e+09   54.73365   -579600000   169.905533     -1.200000 ...
3 2.3000e+08   29.02516           NA           NA            NA ...
4 1.2353e+10   11.62273   -647000000   132.953228     12.669710 ...
5         NA         NA           NA           NA            NA ...
6 2.1000e+07   60.06933    -30922222     2.606167      2.176873 ...
  Balance_2015 Inflation_2015 GDP_2015 Exports_2015 Trade_2015 Balance_2016
1           NA         NA           NA          NA        NA             NA
2 -10272841903 -4.0176477     3.006981 33181130226  52.32371    -3070971745
3   -978125860  0.1000312     2.226581  1929552771  55.13723             NA
4 -17621985168 24.5453565     2.647271 56788000000  19.93200   -14693041563
5   -272427725  1.2139099     3.200000  1485300000  44.76783             NA
6     92810679  2.4587683     4.060219    66261989  38.58929             NA
  Inflation_2016 GDP_2016   Exports_2016 Trade_2016
1       NA               NA          NA        NA
2 27.42131       -0.6653533 27306200000  41.79405
3       NA               NA          NA        NA
4 40.67531       -2.2453441 57732800000  20.77853
5       NA               NA          NA        NA
6       NA               NA          NA        NA

In [81]:
# NAs are introduced in cells after merging the datasets. Let's count the NAs

final_NAcount <- sapply(final, function(y) sum(length(which(is.na(y)))))
final_NAcount <- data.frame(final_NAcount)
head(final_NAcount)

               final_NAcount
CountryCode     0
CountryName     0
Balance_1990   57
Inflation_1990 57
GDP_1990       57
Exports_1990   57

In [82]:
length(final[is.na(final)])

[1] 5395

In [84]:
final[is.na(final)] <- 0

length(final[is.na(final)])

[1] 0

In [85]:
str(final)

'data.frame':	150 obs. of  137 variables:
 $ CountryCode   : Factor w/ 150 levels "ABW","AGO","ALB",..: 1 2 3 4 5 6 7 8 9 10 ...
 $ CountryName   : Factor w/ 150 levels "Albania","Algeria",..: 7 3 1 5 6 4 8 9 21 16 ...
 $ Balance_1990  : num  0.00 -2.36e+08 -1.18e+08 4.55e+09 0.00 ...
 $ Inflation_1990: num  0 0.301 -0.469 2076.793 0 ...
 $ GDP_1990      : num  0 -0.3 -9.58 -2.4 0 ...
 $ Exports_1990  : num  0.00 3.91e+09 2.30e+08 1.24e+10 0.00 ...
 $ Trade_1990    : num  0 54.7 29 11.6 0 ...
 $ Balance_1991  : num  0.00 -5.80e+08 0.00 -6.47e+08 0.00 ...
 $ Inflation_1991: num  0 170 0 133 0 ...
 $ GDP_1991      : num  0 -1.2 0 12.7 0 ...
 $ Exports_1991  : num  0.00 3.41e+09 0.00 1.20e+10 0.00 ...
 $ Trade_1991    : num  0 39.3 0 10.7 0 ...
 $ Balance_1992  : num  0.00 -7.35e+08 0.00 -5.55e+09 0.00 ...
 $ Inflation_1992: num  0 249.1 0 11.9 0 ...
 $ GDP_1992      : num  0 -6.9 0 11.9 0 ...
 $ Exports_1992  : num  0.00 3.76e+09 0.00 1.22e+10 0.00 ...
 $ Trade_1992    : num  0 101 0 11.8 0 ...
 $ Balance_1993  : num  0.00 -6.68e+08 0.00 -8.21e+09 0.00 ...
 $ Inflation_1993: num  0 1273.99 0 -1.47 0 ...
 $ GDP_1993      : num  0 -24.7 0 5.91 0 ...
 $ Exports_1993  : num  0.00 3.76e+09 0.00 1.31e+10 0.00 ...
 $ Trade_1993    : num  0 99 0 12.6 0 ...
 $ Balance_1994  : num  0.0 -3.4e+08 0.0 -1.1e+10 0.0 ...
 $ Inflation_1994: num  0 2127.61 0 2.85 0 ...
 $ GDP_1994      : num  0 3.5 0 5.84 0 ...
 $ Exports_1994  : num  0.00 3.02e+09 0.00 1.57e+10 0.00 ...
 $ Trade_1994    : num  0 110.2 0 14.4 0 ...
 $ Balance_1995  : num  -2.79e+05 -2.95e+08 -1.15e+07 -5.12e+09 -2.21e+08 ...
 $ Inflation_1995: num  -1.93 1895.32 5.57 3.17 161.16 ...
 $ GDP_1995      : num  1.25 10.4 13.3 -2.85 6.9 ...
 $ Exports_1995  : num  1.35e+09 3.64e+09 2.02e+08 2.10e+10 2.71e+08 ...
 $ Trade_1995    : num  222.9 101.4 37.8 15.9 64.4 ...
 $ Balance_1996  : num  -6.91e+07 3.27e+09 0.00 -6.77e+09 0.00 ...
 $ Inflation_1996: num  -3.0891 5399.5069 0 -0.0524 0 ...
 $ GDP_1996      : num  7.81 11.2 0 5.53 0 ...
 $ Exports_1996  : num  1.73e+09 5.10e+09 0.00 2.38e+10 0.00 ...
 $ Trade_1996    : num  273.1 94.8 0 17.5 0 ...
 $ Balance_1997  : num  -1.96e+08 -8.84e+08 -2.72e+08 0.00 -3.36e+08 ...
 $ Inflation_1997: num  4.07 94.32 12.09 0 17.74 ...
 $ GDP_1997      : num  6.67 7.9 -10.84 0 3.32 ...
 $ Exports_1997  : num  1.72e+09 5.01e+09 1.39e+08 0.00 2.33e+08 ...
 $ Trade_1997    : num  250.7 99.4 33.3 0 68.6 ...
 $ Balance_1998  : num  -1.88e+07 0.00 0.00 0.00 -4.16e+08 ...
 $ Inflation_1998: num  7.48 0 0 0 10.7 ...
 $ GDP_1998      : num  1.15 0 0 0 7.3 ...
 $ Exports_1998  : num  1.16e+09 0.00 0.00 0.00 2.21e+08 ...
 $ Trade_1998    : num  161.1 0 0 0 59.3 ...
 $ Balance_1999  : num  -4.36e+08 -1.71e+09 -1.55e+08 -1.19e+10 -3.13e+08 ...
 $ Inflation_1999: num  -1.0192 556.9393 1.5333 -1.8366 0.0538 ...
 $ GDP_1999      : num  4.51 3.24 13.5 -3.39 3.3 ...
 $ Exports_1999  : num  1.39e+09 5.16e+09 3.51e+08 2.33e+10 2.32e+08 ...
 $ Trade_1999    : num  196.4 134.3 44.1 17.2 55.9 ...
 $ Balance_2000  : num  2.07e+08 0.00 -1.56e+08 -8.98e+09 -3.02e+08 ...
 $ Inflation_2000: num  9.14 0 3.98 1.04 -1.37 ...
 $ GDP_2000      : num  -0.365 0 6.667 -0.789 5.9 ...
 $ Exports_2000  : num  2.52e+09 0.00 2.58e+08 2.63e+10 2.94e+08 ...
 $ Trade_2000    : num  272.5 0 37.1 18.1 61.5 ...
 $ Balance_2001  : num  3.09e+08 -1.43e+09 -2.17e+08 -3.78e+09 -2.21e+08 ...
 $ Inflation_2001: num  4.77 106.32 3.33 -1.1 4.07 ...
 $ GDP_2001      : num  -2.16 4.22 7.94 -4.41 9.56 ...
 $ Exports_2001  : num  2.42e+09 6.53e+09 3.07e+08 2.65e+10 3.43e+08 ...
 $ Trade_2001    : num  249.7 108.7 40.2 17.4 57.4 ...
 $ Balance_2002  : num  0.00 0.00 -4.08e+08 8.77e+09 -1.48e+08 ...
 $ Inflation_2002: num  0 0 2.41 30.56 2.37 ...
 $ GDP_2002      : num  0 0 4.23 -10.89 13.19 ...
 $ Exports_2002  : num  0.00 0.00 3.40e+08 2.56e+10 5.05e+08 ...
 $ Trade_2002    : num  0 0 41.6 35.4 62.8 ...
 $ Balance_2003  : num  0.00 -7.20e+08 0.00 8.14e+09 -1.74e+08 ...
 $ Inflation_2003: num  0 84.89 0 10.5 4.56 ...
 $ GDP_2003      : num  0 5.25 0 8.84 14.04 ...
 $ Exports_2003  : num  0.00 9.51e+09 0.00 2.96e+10 6.86e+08 ...
 $ Trade_2003    : num  0 106 0 34 70 ...
 $ Balance_2004  : num  2.71e+08 6.81e+08 0.00 3.21e+09 -7.88e+07 ...
 $ Inflation_2004: num  8.96 39.79 0 18.36 6.31 ...
 $ GDP_2004      : num  1.18 10.88 0 9.03 10.47 ...
 $ Exports_2004  : num  3.43e+09 1.35e+10 0.00 3.46e+10 7.23e+08 ...
 $ Trade_2004    : num  315.2 98.3 0 34.6 58 ...
 $ Balance_2005  : num  1.05e+08 5.14e+09 0.00 5.27e+09 -1.24e+08 ...
 $ Inflation_2005: num  4.21 26.82 0 10.32 3.24 ...
 $ GDP_2005      : num  0.38 18.26 0 8.85 13.87 ...
 $ Exports_2005  : num  4.42e+09 2.41e+10 0.00 4.04e+10 9.74e+08 ...
 $ Trade_2005    : num  373.4 115 0 34.7 56.6 ...
 $ Balance_2006  : num  3.11e+08 1.07e+10 -6.71e+08 6.50e+09 -1.53e+08 ...
 $ Inflation_2006: num  1.49 13.04 2.7 13.74 4.62 ...
 $ GDP_2006      : num  2.36 20.74 5.43 8.05 13.2 ...
 $ Exports_2006  : num  4.72e+09 3.19e+10 7.98e+08 4.65e+10 9.85e+08 ...
 $ Trade_2006    : num  389.8 97.2 42.9 34.7 49.8 ...
 $ Balance_2007  : num  2.58e+08 1.06e+10 0.00 6.05e+09 -6.77e+08 ...
 $ Inflation_2007: num  12.46 12.62 0 14.94 4.23 ...
 $ GDP_2007      : num  -3.65 22.59 0 9.01 13.75 ...
 $ Exports_2007  : num  5.21e+09 4.44e+10 0.00 5.58e+10 1.15e+09 ...
 $ Trade_2007    : num  393.8 96 0 34.9 48 ...
 $ Balance_2008  : num  1.12e+05 7.19e+09 -2.02e+09 5.42e+09 0.00 ...
 $ Inflation_2008: num  14.28 19.68 7.63 23.17 0 ...
 $ GDP_2008      : num  -6.88 13.82 3.76 4.06 0 ...
 $ Exports_2008  : num  5.46e+09 6.39e+10 1.35e+09 7.00e+10 0.00 ...
 $ Trade_2008    : num  410.7 100.9 51.3 35.3 0 ...
 $ Balance_2009  : num  0.00 0.00 -1.85e+09 7.25e+09 -1.43e+09 ...
 $ Inflation_2009: num  0 0 2.42 15.38 2.56 ...
  [list output truncated]

## Lets model data with linear regression